html {
    transform-origin: center center;
    transform: scale(1); 
}
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    color:#36364A;
    background-color: #0f0f0f;
}
#app {
    margin-top: 8px;
    margin-bottom: 8px;
    user-drag: none;
    -webkit-user-drag: none;
    -moz-user-select: none;
    -ms-user-select: none; /* IE 10+ */
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
#canvas-container {      
    position: relative;
    cursor: none !important;
    margin-bottom: 16px;
}
canvas {
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #010101;
}
#cursor {
    position: absolute;
    pointer-events: none;
    border-width: 2px;
    border-style: solid;
    border-color: #FFF;
    border-radius: 50%;
    mix-blend-mode: difference;
}
#controls-top {
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
    max-width: 720px;
}
.top-left-buttons {
    display: flex;
    gap: 0px;
}
.top-right-buttons {
    display: flex;
    margin-left: auto;
}
#logo-button-container {
    margin-top: 40px;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 0px;
    justify-content: center;
}
#hashtag-line {
    height: 24px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0px;
}
#hashtag-text {
    font-size: 20px;
    color: #c9c9b5;
    letter-spacing: 0.4rem;
    margin-left: 20px;
    text-align: center;
} 
#message-line {
    display: none;
    height: 24px;
    font-size: 20px;
    font-weight: bold;
    color: #c9c9b5;
    letter-spacing: 0.1rem;
    justify-content: center;
    text-align: center;
    margin-left: 16px;
}
button {
    cursor: pointer;
}
.svg-button {
    filter: invert(100%)
}     
.controls-top-button {
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 32px;
    width: 32px;
    border: 0px solid #36364A;
    border-radius: 4px;
    background-color: #0E0E0E;
    padding: 4px;
    color: #36364A;
}
.controls-top-button:hover{
    background-color: #3F3F3F;
}
.controls-top-button:active{
    opacity: 0.8;
    padding: 5px;
}
.logo-button {
    justify-content: center; 
    align-items: center;
    border: 0px solid #36364A;
    border-radius: 4px;
    background-color: transparent;
    height: 48px;
    width: 48px;
    margin-left: 4px;
    margin-right: 4px;
    padding: 0px 0px 1px 0px;
    opacity: 1.0;
}
.logo-button:hover{
    opacity: 1.0;
    background-color: #3F3F3F;
}
.copy-hashtag-button {
    display: flex;
    justify-content: center; 
    background-color: transparent;
    height: 16px;
    width: 16px;
    border:0px;
} 
.copy-hashtag-button .icon{
    opacity: 0;
    height: 100%
} 
.copy-hashtag-button:hover .icon{    
    opacity: 1.0;
    filter: invert(100%)
} 
.active {
    outline: 3px solid #000000;
    position: relative;
    top: -16px;
    z-index: 10;
    border-radius: 50%;
}
#manual-container {
    margin-top: 16px;
    margin-bottom: 16px;
}
#manual-content {
    position: relative;
    width: 720px;
    margin-bottom: 16px;
    color: #e0e0e0;
    border: 1px solid #010101;
    background-color: #36364A;
    box-sizing:border-box;
    padding: 32px 64px;
}
a{
    color: #39C2D6;
}
a:hover{
    
	color: #3BEAC0;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}
.modal-content {
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #F0F0F0;
    padding: 20px;
    padding-top: 16px;
    border-radius: 4px;
    width: 360px;
}
.dialog-title-container {
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.close-dialog-button{
    color: #36364A;
    border: 0px solid #36364A;
    border-radius: 4px;
    justify-content: center; 
    align-items: center;
    height: 32px;
    width: 32px;
    font-size: 24px;
}
.close-dialog-button:hover{
    background-color: #E0E0E0;
}
#preview-img-container {
    background-color: #F2EEE6;
    height: 360px;
    width: 360px;
    margin-bottom: 16px;
    border-radius: 8px;
    border: 1px solid #505050;
}
#preview-img {
    border-radius: 8px;
}
#sending-mode-select {
    width: 100%;
    height: 42px;
    border: 1px solid #505050;
    border-radius: 4px;
    background-color: transparent;
    font-size: 16px;
    color: #36364A;
    cursor: pointer;
    margin-bottom: 8px;
}
#launch-rakugaki_pao-button {
    padding: 0px;
    width: 100%;
    height: 48px;
    background-color: #6364ff;
    border: 1px solid #505050;
    color: white;
    font-size: 24px; 
    border-radius: 4px;
}
#launch-rakugaki_pao-button:hover {
    background-color: #563ACC;
}