html {
    transform-origin: center center;
    transform: scale(1); 
}
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    color:#36364A;
    background-color: #0f0f0f;
}
#app {
    margin-top: 8px;
    margin-bottom: 8px;
    user-drag: none;
    -webkit-user-drag: none;
    -moz-user-select: none;
    -ms-user-select: none; /* IE 10+ */
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
#canvas-container {      
    position: relative;
    cursor: none !important;
    margin-bottom: 16px;
}
canvas {
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #010101;
}
#cursor {
    position: absolute;
    pointer-events: none;
    border-width: 2px;
    border-style: solid;
    border-color: #FFF;
    border-radius: 50%;
    mix-blend-mode: difference;
}
#controls-top {
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
    max-width: 720px;
}
.top-left-buttons {
    display: flex;
    gap: 0px;
}
.top-right-buttons {
    display: flex;
    margin-left: auto;
}

#hashtag-line {
    height: 24px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0px;
}
#hashtag-text {
    font-size: 20px;
    color: #c9c9b5;
    letter-spacing: 0.4rem;
    margin-left: 20px;
    text-align: center;
} 
#message-line {
    display: none;
    height: 24px;
    font-size: 20px;
    font-weight: bold;
    color: #c9c9b5;
    letter-spacing: 0.1rem;
    justify-content: center;
    text-align: center;
    margin-left: 16px;
}
button {
    cursor: pointer;
}
.svg-button {
    filter: invert(100%)
}     
.controls-top-button {
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 32px;
    width: 32px;
    border: 0px solid #36364A;
    border-radius: 4px;
    background-color: #0E0E0E;
    padding: 4px;
    color: #36364A;
}
.controls-top-button:hover{
    background-color: #3F3F3F;
}
.controls-top-button:active{
    opacity: 0.8;
    padding: 5px;
}
.copy-hashtag-button {
    display: flex;
    justify-content: center; 
    background-color: transparent;
    height: 16px;
    width: 16px;
    border:0px;
} 
.copy-hashtag-button .icon{
    opacity: 0;
    height: 100%
} 
.copy-hashtag-button:hover .icon{    
    opacity: 1.0;
    filter: invert(100%)
} 
.active {
    outline: 3px solid #000000;
    position: relative;
    top: -16px;
    z-index: 10;
    border-radius: 50%;
}
